{% extends "emails/base_email.html" %}
{% block title %}Change Password{% endblock %}

{% block content %}
  <p>Hi <strong>{{ user.name }}</strong>,</p>
  <p>
    Your password-change request has been initiated successfully. Please complete the process using the instructions provided.<br>
    For security, do not share your password with anyone.
  </p>

  <div class="btn-wrapper">
    <a href="{{ url }}" class="btn">Change Password</a>
  </div>

  <div class="divider"></div>

  <p>If the button above doesn't work, copy and paste this link into your browser:</p>
  <p class="link-fallback">{{ url }}</p>
{% endblock %}
